*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    background-color: #e9cdcd;
    color: #000;
    text-align: center;
}
    header{
    background-color:rgb(112, 119, 119);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 10px 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: auto;
    padding: 0 20px;
}
.logo{
    color: #f4f4f4;
    font-size: 1.5rem;
    font-weight: bold;
}
nav ul{
    list-style: none;
    display: flex;
}
nav ul li{
    margin: 0 10px;
}
nav ul li a{
    color: #e9cdcd;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
    
}
nav ul li a:hover{
    color: rgb(137, 172, 201);
}
#home{
    background: linear-gradient(120deg,#e06565,#b43030);
    color: #e9cdcd;
    padding: 120px 20px;
}
.profile-pic{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid white;
    margin-bottom: 15px;
}
h1{
    font-size: 2rem;
    font-weight: bold;
}
p{
    font-size: 1.1rem;
}
.btn{
    display: inline-block;
    background:black ;
    color: #f4f4f4;
    text-decoration: none; 
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 10px;
    transition: background 0.3s;  
}
.btn:hover{
    background: aqua;
}
#about,#skills,#projects,#contact{
    padding: 50px 20px;
}
h2{
 font-size: 2rem;
 margin-bottom: 15px;  
}
.skill{
    width: 80%;
    max-width: 400px;
    margin: auto;
    margin-bottom: 15px;
}
.progress{
   background: #f4f4f4;
   height: 10px;
   border-radius:5px ;
   overflow: hidden;
}
.progress-bar{
    background: #6051b8;
    height: 100% ;
    transition: width 1s;

}
.projects-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 80px;
    text-align: center;
    padding: 20px;
}
.project-card{
    background: #aec06e;
    padding: 11px;
    border-radius: 8px;
    width:300px;
    box-shadow:  0 3px 6px rgb(50, 50, 50);
    transition: transform 0.3s linear 3s;
}
.project-card :hover{
    transform: translateY(-30px);
}
.project-card img{
    width: 100%;
    border-radius: 5px;
}
.project-card h3{
    margin: 10px;
}
form{
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 400px;
    margin: auto;

}
input,textarea{
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: #000;
}
button{
    background: #e06565;
    color: #f4f4f4f4;
    padding: 10px;
    border-radius: 8px;
}
button:hover{
    background-color: #e06565;
}
@media (min-width:not()
.profile-pic{
    width: 150px;
    height: ;
}